.features {
    padding: 60px 0;
    @include desktop{
        padding: 94px 0;

    }
    &__list {
        margin-bottom: -30px;  
      
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            margin-right: -30px;
            }
    }
    &__item {
        width: auto;
        margin-bottom: 30px;
      
        @include tablet{
            margin-right: 30px;
            flex-basis: calc(100% / 2 - 30px);
        }
        @include desktop{
            margin-right: 30px;
            flex-basis: calc(100% / 4 - 30px);
        }
    }
   

    &__icon {
        height: 120px;
        border-radius: 5px;
        background-color: #F5F4FA;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}

