.hero {
    background-color: var(--second-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
       
    max-width: 1620px;
    margin: 0 auto;
    &__title {
        color: var(--third-fonts-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__btn {
        color: var(--third-fonts-color);
        background-color: var(--accent-color);
        border-radius: 5px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 10px 32px;
        margin: 0 auto;
    }
}
