.portfolio--border {
    border-bottom: 1px solid #ECECEC;
}
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    // padding-top: 94px;
    // padding-bottom: 94px;
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        // justify-content: center;
        margin-right: -9px;
        margin-bottom: -9px;
    }
    &__item {
        margin-right: 9px;
        margin-bottom: 9px;
    }
    &__btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--second-fonts-color);
        border-radius: 4px;
        cursor: pointer;
        padding: 6px 22px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn:hover,
    &__btn:focus {
        color: var(--third-fonts-color);
        background-color: var(--accent-color);
    }
}
.example{
    margin-top: 40px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -30px;
    }






    &__item {
        max-width: 450px;
        margin-bottom: 30px;
        // margin-right: 30px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__cover-wrap {
        position: relative;
        overflow: hidden;
    }
    &__cover-text {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: rgba(33, 150, 243, 0.9);
    }
    &__item:hover &__cover-text {
        transform: translateY(0);
    }
    &__item:hover,
    &item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transform: translateY(0);
    }
  
    &__about {
        padding: 20px 0 20px 24px;
        border: solid 1px #EEEEEE;
    }
    &__title {
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--second-fonts-color);
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    }
}
