p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    display: block;
}
body::after,
body::before {
    box-sizing: border-box;
}

.list {
    list-style: none;
}

.link {
    outline: none;
    text-decoration: none;
    display: flex;
}
.btn {
    border: none;
    cursor: pointer;
}