:root {
    --first-bg-color: #e5e5e5;
    --second-bg-color: #2f303a;
    --first-fonts-color: #757575;
    --second-fonts-color: #212121;
    --third-fonts-color: #ffffff;
    --accent-color: #2196f3;
}