.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    &__close{
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: inherit;
        margin-left: auto;
    }
    &__icon-close{
        .mob-menu__close:focus &{
            fill: var(--accent-color);
        }
    }
    &__nav-lis{
        margin-bottom: -32px;
    }
    &__nav-item{
        margin-bottom: 32px;

    }
    &__nav-link{
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121;
        &:focus{
            color: var(--accent-color);
        }
    }
    &__contact-list{
        margin-bottom: 32px;

    }
    &__contacts-item{
        margin-bottom: 32px;

    }
    &__contacts-link{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;
        &:focus{
            color: var(--accent-color);
        }

    }

    &__soc-list{
        display: flex;
        justify-content:center;

    }
    &__soc-item{
        height: 22px;
        padding-left: 10px;
        padding-right: 10px;
        &:not(last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }
    &__soc-link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
    }



}