.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

}

.close-modal-icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .close-modal:hover &,
    .close-modal:focus & {
        fill: var(--accent-color);
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(2) rotate(180deg);
    transform-origin: center center;
}