.modal{
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 12px;
        }
    &__label {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__input {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        margin-top: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input:focus {
        border-color: var(--accent-color);
    }
    &__icon {
        position: absolute;
        bottom: 11px;
        left: 12px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input:focus+&__icon {
        fill: var(--accent-color);
        outline: none;
    }
    &__area {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        margin-top: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__area::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &__area:focus {
        border-color: var(--accent-color);
    }
    &__checkbox {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        height: 24px;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.03em;
        color: #757575;
        @include desktop{
            font-size: 14px;
            line-height: 1.71;
    
        }
    }
    &__agreement {
        width: 20px;
    }
    &__agreement-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: #2196F3;
    }
    &__check-box {
        position: absolute;
        display: block;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
        background-position: center;
        background-image: url(../images/check-off.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__agreement:checked~&__check-box {
        background-image: url(../images/check-on.svg);
        background-size: contain;
        background-repeat: no-repeat;
        outline: none;
    }
    &__agreement:focus~&__check-box {
        outline: 2px solid var(--accent-color);
        border-radius: 3px;
    }
&__submit {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
}
}



